.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
}*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #00d9ffb7;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
    }
    .escola-imagem{
        width: 25%;
    }
    .escola{
        background-image: linear-gradient();
    }
    .escola{
        background-image: linear-gradient(#12a6c0, #4ee97d);
    }
    .escola{
        background-image: linear-gradient(#18dbc8, #23c767);
        color: white;
    }
    .escola{
        background-image: linear-gradient(#0adabe, #00ffea);
        color: white;
        display: flex;
    }
    .escola-div-conteudo{
        width: 35%;
    }
    .escola-titulo{
        padding: 24px 0;
    }
    .escola{
        background-image: linear-gradient(#ff0095, #4EBFE9);
        color: white;
        display: flex;
        justify-content: center;
    }
    .escola{
        background-image: linear-gradient(#8400ff,#f8166d);
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .escola{
        background-image: linear-gradient(#00ff9d,#91ebff);
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
    }* {
        margin: 0;
        padding: 0;
    }
    
    .cabecalho {
        background-color: #003892;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
    }
    
    .cabecalho-imagem{
        width: 15%;
    }
    
    .cabecalho-lista-item{
        display: inline-block;
        margin: 0 16px;
        font-size: 20px;
    }
    
    .escola-imagem{
        width: 25%;
    }
    
    .escola{
        background-image: linear-gradient(#0062ff,#16CFF8);
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
    }
    
    .escola-div-conteudo{
        width: 35%;
    }
    .escola-titulo{
        padding: 24px 0;
    }
    
                                   